
@import 'tailwindcss';

@theme {
  --font-primary: "Urbanist", "sans-serif";
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist.ttf') format('truetype');

  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #313131;
}